body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
}

main {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    margin: 40px;
}

#map {
    height: 500px;
    width: 45%;
    margin: 0 20px;
    border-radius: 25px;
    border: 5px solid #bb76da;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    color: #9b59b6;
}

.artist {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
}

.artist-name {
    font-size: 2rem;
    margin: 0;
}

.artist-image {
    width: 300px;
    height: 300px;
    perspective: 1000px;
    border-radius: 25px;
    border: 5px solid #bb76da;
}

.artist-info {
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}

.artist-info ul {
    list-style-type: none;
    padding: 0;
}

.member {
    margin: 5px;
    background-color: #bb76da;
    border-radius: 10px;
    padding: 5px 10px;
    transition: 0.3s;
}

.member:hover {
    background-color: #8e44ad;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.location {
    margin: 5px;
    border: 3px solid #bb76da;
    border-radius: 15px;
    padding: 5px 10px;
}

.date {
    margin: 5px;
    background-color: #bb76da;
    border-radius: 10px;
    padding: 5px 10px;
    transition: 0.3s;
}

.date:hover {
    background-color: #8e44ad;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    cursor: pointer ;
}