:root {
    --start-angle: 0deg; /* Default value */
}

body {
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.filters {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
}

.search {
    color: #9b59b6;
    border: 2px solid #9b59b6;
    width: 700px;
    border-radius: 25px;
    padding: 10px 25px;
    background: white;
}

.search:active {
    box-shadow: 2px 2px 15px #9b59b6 inset;
}

.clear {
    margin: 0 10px;
    background-color: #9b59b6;
    border-radius: 25px;
    padding: 7px 10px;
    cursor: pointer;
    transition: 0.3s;
    color: #ffffff;
    border-style: none;
}

.clear:hover {
    background-color: #8e44ad;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.date-input {
    margin: 0 10px;
    width: 55px;
    background-color: white;
    border-radius: 25px;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.3s;
    color: #9b59b6;
    border-style: none;
}

.tour-location {
    margin: 0 10px;
    width: 200px;
    background-color: white;
    border-radius: 25px;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.3s;
    color: #9b59b6;
    border-style: none;
    scrollbar-width: none;
}


.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    height: 96px;
    width: 96px;
    animation: rotate_3922 1.2s linear infinite;
    background-color: #9b59b6;
    background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
    display: none;
}

.loading span {
    position: absolute;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    background-color: #9b59b6;
    background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
}

.loading span:nth-of-type(1) {
    filter: blur(5px);
}

.loading span:nth-of-type(2) {
    filter: blur(10px);
}

.loading span:nth-of-type(3) {
    filter: blur(25px);
}

.loading span:nth-of-type(4) {
    filter: blur(50px);
}

.loading::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: url("../images/loading.png");
    border: solid 5px #ffffff;
    border-radius: 50%;
    background-size: cover;
}

@keyframes rotate_3922 {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}


.card {
    background-color: transparent;
    min-width: 300px;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s ease;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
    cursor: grab;
}

.card:not(:hover) .card-inner {
    transition: transform 2s ease;
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 10px;
}

.card-front {
    background-color: #bbb;
    color: black;
}

.card-back {
    background: url('../images/disc.jpg');
    background-size: cover;
    color: white;
    transform: rotateY(180deg);
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.artist-name {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    margin-top: 20%;
    margin-bottom: auto;
}

.card-back-disc {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    border-radius: 50%;
    animation: spin 4s infinite linear;
    z-index: -1;
}

@keyframes spin {
    from {
        transform: rotate(var(--start-angle));
    }
    to {
        transform: rotate(calc(var(--start-angle) + 360deg));
    }
}

.album-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* checkbox settings 👇 */

.member-count {
    --primary-color: #9b59b6;
    --secondary-color: #fff;
    --primary-hover-color: #9b59b6;
    /* checkbox */
    --checkbox-diameter: 20px;
    --checkbox-border-radius: 7.5px;
    --checkbox-border-color: #d9d9d9;
    --checkbox-border-width: 1px;
    --checkbox-border-style: solid;
    /* checkmark */
    --checkmark-size: 1.2;
}

.member-count,
.member-count *,
.member-count *::before,
.member-count *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.member-count {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: var(--checkbox-diameter);
    height: var(--checkbox-diameter);
    border-radius: var(--checkbox-border-radius);
    background: var(--secondary-color);
    border: var(--checkbox-border-width) var(--checkbox-border-style) var(--checkbox-border-color);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
}

.member-count::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
    box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
    border-radius: inherit;
    opacity: 0;
    -webkit-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
    -o-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
    transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
}

.member-count::before {
    top: 40%;
    left: 50%;
    content: "";
    position: absolute;
    width: 4px;
    height: 7px;
    border-right: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
    -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
    opacity: 0;
    -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
    -o-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
    transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
}

/* actions */

.member-count:hover {
    border-color: var(--primary-color);
}

.member-count:checked {
    background: var(--primary-color);
    border-color: transparent;
}

.member-count:checked::before {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
    -ms-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
    transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
    -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
    -o-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
    transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}

.member-count:active:not(:checked)::after {
    -webkit-transition: none;
    -o-transition: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: none;
    opacity: 1;
}

.member-label {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    flex-wrap: nowrap;
    width: fit-content;
    background-color: #9b59b6;
    border-radius: 10px;
    padding-right: 5px;
}

.members {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}