<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Groupie-Tracker</title>
        <link rel="stylesheet" href="css/artist.css">
        <link rel="stylesheet" href="css/header.css">
        <link rel="icon" type="image/x-icon" href="images/favicon.ico" >
    </head>

    <body>
        <header>
            <h1>Groupie-Tracker</h1>
        </header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
        <main>
            <div class="artist">
                <div>
                    <h2 class="artist-name">{{ .Name }}</h2>
                    <p><strong>Creation Date:</strong> {{ .CreationDate }}</p>
                    <p><strong>First Album:</strong> {{ .FirstAlbum }}</p>
                    <img src="{{ .Image }}" alt="{{ .Name }}" class="artist-image">
                </div>
                <div class="artist-info">
                    <ul class="members">
                        <p><strong>Members:</strong></p>
                        {{ range .Members }}
                        <li class="member">{{ . }}</li>
                        {{ end }}
                    </ul>
                    <ul class="locations">
                        <p><strong>Tour Locations:</strong></p>
                        {{ range $location, $dates := .TourLocations }}
                        <li class="location">{{ $location }}
                            <ul class="dates">
                                {{ range $dates }}
                                <li class="date" onclick="updateMap(this.parentElement.dataset.index)">{{ . }}</li>
                                {{ end }}
                            </ul>
                        </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
            <div id="map"></div>
        </main>
        <footer>
            <p>&copy; 2024 Groupie-Tracker</p>
        </footer>
        <script src="js/artist.js"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxuBywJ3pwTcJ5Kx-jzVgPDHxcC5DAmcQ&callback=initMap&libraries=marker"></script>
    </body>
</html>