<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .Name }}</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico" >
</head>
<body>
    <header>
        <h1>{{ .Name }}</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
    <main>
        <h2>{{ .Status }}</h2>
        <p>{{ .Message }}</p>
    </main>
    <footer>
        <p>&copy; 2024 Groupie-Tracker</p>
    </footer>
</body>
</html>