<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Groupie-Tracker</title>
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="css/header.css">
        <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    </head>
    <body>
        <header>
            <h1>Groupie-Tracker</h1>
        </header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
        <main>
            <div class="filters">
                <input
                placeholder="Enter Name"
                class="search"
                name="text"
                type="text"
              />

                <label>
                      Created Between:
                    <input class="creation-min date-input" type="date" value="" min="1997-01-01" max="2030-12-31">
                </label>
                <label>
                    and:
                    <input class="creation-max date-input" type="date" value="" min="1997-01-01" max="2030-12-31">
                </label>
                <div class="members">
                    <p>Members:</p>
                    <label>
                        <input type="checkbox" class="member-count" data-count="1">1
                    </label>
                    <label>
                        <input type="checkbox" class="member-count" data-count="2">2
                    </label>
                    <label>
                        <input type="checkbox" class="member-count" data-count="3">3
                    </label>
                    <label>
                        <input type="checkbox" class="member-count" data-count="4">4
                    </label>
                    <label>
                        <input type="checkbox" class="member-count" data-count="5">5
                    </label>
                    <label>
                        <input type="checkbox" class="member-count" data-count="6">6
                    </label>
                    <label>
                        <input type="checkbox" class="member-count" data-count="7">7
                    </label>
                </div>
                <label>
                    <input class="first-album date-input" type="month" min="1997-01" max="2030-12">
                </label>
                <label>
                    <input class="clear" type="button" value="Clear Filters" onclick="clearFilters()">
                </label>
            </div>
            <div class="cards">
            </div>
            <div class="loading">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
        </main>
        <footer>
            <p>&copy; 2024 Groupie-Tracker</p>
        </footer>
        <script src="js/index.js"></script>
    </body>
</html>