<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Groupie-Tracker</title>
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="css/header.css">
        <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    </head>
    <body>
        <header>
            <h1>Groupie-Tracker</h1>
        </header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
        <main>
            <div class="searchbar">
                <input
                placeholder="Enter Name"
                class="search"
                name="text"
                type="text"
              />
            </div>
            <div class="filters">
                <label>
                    Created between
                    <input class="creation-min date-input" type="number" value="" min="1970" max="2030" placeholder="YYYY">
                </label>
                <label>
                    and
                    <input class="creation-max date-input" type="number" value="" min="1970" max="2030" placeholder="YYYY">
                </label>
                <div class="members">
                    <p>Members:</p>
                    <label class="member-label">
                        <input type="checkbox" class="member-count" data-count="1">  1
                    </label>
                    <label class="member-label">
                        <input type="checkbox" class="member-count" data-count="2">  2
                    </label>
                    <label class="member-label">
                        <input type="checkbox" class="member-count" data-count="3">  3
                    </label>
                    <label class="member-label">
                        <input type="checkbox" class="member-count" data-count="4">  4
                    </label>
                    <label class="member-label">
                        <input type="checkbox" class="member-count" data-count="5">  5
                    </label>
                    <label class="member-label">
                        <input type="checkbox" class="member-count" data-count="6">  6
                    </label>
                    <label class="member-label">
                        <input type="checkbox" class="member-count" data-count="7">  7
                    </label>
                </div>
                <label>
                    First Album between
                    <input class="first-album-min date-input" type="number" value="" min="1970" max="2030" placeholder="YYYY">
                </label>
                <label>
                    and
                    <input class="first-album-max date-input" type="number" value="" min="1970" max="2030" placeholder="YYYY">
                </label>
                <label>
                    Tour in
                    <select class="tour-location">
                        <option value="">Tour Location</option>
                        {{ range $key, $location := . }}
                        <option value="{{ $key }}">{{ $location }}</option>
                        {{ end }}
                    </select>
                </label>
                <label>
                    <input class="clear" type="button" value="Clear Filters" onclick="clearFilters()">
                </label>
            </div>
            <div class="cards">
            </div>
            <div class="loading">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
        </main>
        <footer>
            <p>&copy; 2024 Groupie-Tracker</p>
        </footer>
        <script src="js/index.js"></script>
    </body>
</html>